<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detect faces</title>
</head>
<body>

    <h2>Choose file to get json with faces coordinates</h2>
    <hr>
    <form action="/" method="POST" enctype="multipart/form-data">
        <p><input id="upload_button" type="file" class="btn btn-default btn-xs" name="file" accept="application/pdf, .docx"><input id="submit_button" type="submit" class="btn btn-success" value="Get result">
<!--        <button type="submit" class="btn btn-primary">-->
<!--            Get result-->
<!--        </button>-->
    </form>
</body>
</html>